body {
    font-family: Helvetica, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  .entry {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .entry h3 {
    margin: 0;
  }
  .abstract {
    margin-top: 10px;
    color: #444;
  }
  button {
    margin-left: 10px;
    cursor: pointer;
  }

  summary {
    color: #1E3A8A;       /* deep blue */
    font-size: 1.5em;     /* make it larger */
    font-weight: 500;   
    cursor: pointer;      /* hand cursor when hover */
    margin-top: 20px;
  }
  
  summary::-webkit-details-marker {
    color: #1E3A8A;       /* make the arrow blue too (Chrome/Safari) */
  }
  
  .site-header {
    display: flex;              /* put items side by side */
    align-items: center;        /* vertically align image + text */
    gap: 15px;                  /* space between image and title */
    margin-bottom: 20px;
  }

  .search-container {
    margin: 20px 0;
    text-align: center;
  }
  
  #searchInput {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #1E3A8A;
    border-radius: 6px;
  }